[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/valorem-core"]
	path = lib/valorem-core
	url = https://github.com/valorem-labs-inc/valorem-core
